#board {
    padding: 10px;
    max-width: 500px;
}

.navbar {
    background-color: red;
}

#mainWindow {
}
#secondWindow {

    max-width: 300px;
    margin: 10px;
    min-height: 350px;
}

#moveTable {
    max-height: 250px;
    overflow: auto;
}

body {
    padding-top: 70px;
    align-items: center;
}

#controls {
    position: absolute;
    bottom: 0;
}